demo/** linguist-detectable=false
lib/** linguist-detectable=false
resources/** linguist-detectable=false

binding/android/** linguist-detectable=false
binding/dotnet/LeopardTest/** linguist-detectable=false
binding/flutter/android/** linguist-detectable=false
binding/flutter/ios/** linguist-detectable=false
binding/go/leopard_test.go linguist-detectable=false
binding/ios/LeopardAppTest/** linguist-detectable=false
binding/java/src/ai/picovoice/leopard/exception/** linguist-detectable=false
binding/java/test/** linguist-detectable=false
binding/nodejs/test/** linguist-detectable=false
binding/react-native/** linguist-detectable=false
binding/rust/tests/** linguist-detectable=false
binding/web/** linguist-detectable=false

*.py linguist-detectable=true
