name: leopard_flutter
description: A Flutter plugin for Picovoice's Leopard Speech-to-Text engine
version: 3.0.0
homepage: https://picovoice.ai/
repository: https://github.com/Picovoice/leopard/
documentation: https://picovoice.ai/docs/leopard/

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=3.10.0"

dependencies:
  path_provider: ^2.0.9
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  lints: ^1.0.1

flutter:
  plugin:
    platforms:
      android:
        package: ai.picovoice.flutter.leopard
        pluginClass: LeopardPlugin
      ios:
        pluginClass: LeopardPlugin
