name: React Native Tests
on:
  workflow_dispatch:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/react-native-tests.yml'
      - 'binding/react-native/**'
      - '!binding/react-native/README.md'
      - 'lib/common/**'
      - 'resources/audio_samples/**'
      - 'resources/.test/**'
  pull_request:
    branches: [ master, 'v[0-9]+.[0-9]+' ]
    paths:
      - '.github/workflows/react-native-tests.yml'
      - 'binding/react-native/**'
      - '!binding/react-native/README.md'
      - 'lib/common/**'
      - 'resources/audio_samples/**'
      - 'resources/.test/**'

defaults:
  run:
    working-directory: binding/react-native/test-app/LeopardTestApp

jobs:
  test-android:
    name: Run tests on Android
    runs-on: pv-android

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

# ************** REMOVE AFTER RELEASE ********************
    - name: Install React Native Binding Dependencies
      run: yarn install
      working-directory: binding/react-native

    - name: Build Local tarball
      run: yarn pkg
      working-directory: binding/react-native

    - name: Remove old package
      run: yarn remove @picovoice/leopard-react-native

    - name: Add new local package
      run: yarn add ../pkg/picovoice-leopard-react-native-2.0.4.tgz
# ************** REMOVE AFTER RELEASE ********************

    - name: Pre-build dependencies
      run: |
        yarn install
        ./copy_test_resources.sh

    - name: Inject AppID
      run: sed -i 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:' Tests.ts

    - name: Build tests
      run: detox build --configuration android.att.release

    - name: Run tests
      run: detox test --configuration android.att.release

  test-ios:
    name: Run tests on iOS
    runs-on: pv-ios

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

# ************** REMOVE AFTER RELEASE ********************
    - name: Install React Native Binding Dependencies
      run: yarn install
      working-directory: binding/react-native

    - name: Build Local tarball
      run: yarn pkg
      working-directory: binding/react-native

    - name: Remove old package
      run: yarn remove @picovoice/leopard-react-native

    - name: Add new local package
      run: yarn add ../pkg/picovoice-leopard-react-native-2.0.4.tgz
# ************** REMOVE AFTER RELEASE ********************

    - name: Pre-build dependencies
      run: |
        yarn install
        ./copy_test_resources.sh

    - name: Cocoapods install
      working-directory: binding/react-native/test-app/LeopardTestApp/ios
      run: pod install --repo-update

    - name: Inject AppID
      run: sed -i '.bak' 's:{TESTING_ACCESS_KEY_HERE}:${{secrets.PV_VALID_ACCESS_KEY}}:' Tests.ts

    - name: Build tests
      run: detox build --configuration ios.sim.release

    - name: Run tests
      run: detox test --configuration ios.sim.release